<div id="customerGroup_page">
    <style scoped>
        .panel-header {
            background-color: #fff;
        }
        
        .panel-footer {
            background-color: #ebeef2;
            padding: 5px 15px;
        }
        
        .kehuzu-heading {
            display: inline-block;
            font-size: 1.2em;
            margin: 0;
        }
        
        .kehuzu-list-group {
            margin-top: -15px;
            margin-left: 10px;
            list-style-type: none;
            border: 2px dashed #cbcfd3;
            padding: 1em 1em 1em 2em;
            margin-right: 10px;
        }
        
        .kehuzu-row {
            padding-bottom: 10px;
        }
        
        .kehuzu-row-indent {
            padding-left: 20px;
            padding-bottom: 5px;
        }
        
        .kehuzu-prefix {
            font-size: 1.2em;
            padding-left: 10px;
            padding-right: 50px;
            float: left;
        }
        
        .kehuzu-prefix-entire {
            font-size: 1.2em;
            width: 100%;
            padding-left: 10px;
            padding-bottom: 10px;
        }
        
        .kehuzu-prefix-far {
            font-size: 1.2em;
            padding-left: 10px;
            padding-right: 72px;
            float: left;
        }
        
        .kehuzu-prefix-number {
            color: #0392d3;
            cursor: pointer;
            font-size: 1.2em;
            display: inline-block;
        }
        
        .kehuzu-prefix-small {
            font-size: 1.2em;
            padding-right: 20px;
            float: left;
        }
        
        .kehuzu-prefix-number-small {
            font-size: 1.2em;
            padding-right: 5px;
        }
        
        .kehuzu-block {
            display: block;
        }
        
        .kehuzu-float {
            float: left;
        }
        /* .editbox {
            border-color: #878787;
            border-style: solid;
            border-top-width: 0px;
            border-right-width: 0px;
            border-bottom-width: 1px;
            border-left-width: 0px;
        }*/
        
        .fix-width {
            /*  margin-left: 20px;
            margin-right: 10px;
            width: 80px;*/
        }
        
        .kehu-group-panel {
            height: 350px;
        }
    </style>


    <div id="select-group" style="margin:0;">
        <div class="row">
            <div class="col-lg-6">
                <div class="containertitle">客户组</div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_add_new_group">
                    <i class="fa fa-plus"></i>添加客户组
            </button>
            </div>

        </div>
    </div>



    <div class="panel-body" style="padding: 0;
    margin: 10px -10px;">
        <div class="container-fluid">
            {{#groups}}
            <div class="col-lg-4 col-md-8 kehu-group-panel">
                <div groupId={{id}} class="panel panel-default kehuzu">
                    <div class="panel-heading">
                        <h4 class="kehuzu-heading">{{name}}</h4>
                    </div>
                    <div class="panel-body">
                        <div class="kehuzu-row">
                            <div class="huge kehuzu-prefix-far">编号前缀：</div>
                            <div class="kehuzu-prefix-number modify-prefix">
                                <a name="idPrefix" data-type="text" data-pk="{{id}}" data-title="修改编号前缀" data-emptytext="空" data-name="idPrefix" data-placement="right">{{idPrefix}}</a>
                            </div>
                        </div>
                        <div class="kehuzu-row">
                            <div class="huge kehuzu-prefix">发货单标题：</div>
                            <div class="kehuzu-prefix-number modify-title" style="margin-left:10px;">
                                <a name="invoiceHeader" data-type="text" data-pk="{{id}}" data-title="修改发货单标题" data-emptytext="空" data-name="invoiceHeader" data-placement="right">{{invoiceHeader}}</a>
                            </div>
                        </div>
                        <div class="kehuzu-row">
                            <div class="huge kehuzu-prefix-entire">统计信息：</div>
                            <div class="clearfix"></div>
                        </div>
                        <ul class="kehuzu-list-group">
                            <li class="kehuzu-row kehuzu-prefix-number-small">
                                <span>客户： </span>
                                <span class="totalCustomer">{{customerNumber}}</span>
                                <span>家</span>
                            </li>
                            <li class="kehuzu-row kehuzu-prefix-number-small">
                                <span>订单：</span>
                                <span>{{orderNumber}}</span>
                                <span>张</span>
                            </li>
                            <li class="kehuzu-row kehuzu-prefix-number-small">
                                <span>发货单：</span>
                                <span>{{invoiceNumber}}</span>
                                <span>张</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {{/groups}}
            <!-- <div class="col-lg-4 col-md-8">
                <div class="panel panel-default" style="border: 2px dashed #bec9d3;cursor:pointer;" data-toggle="modal" data-target="#modal_add_new_group">
                    <div class="panel-body" style="">
                        <div class="row">
                            <i class="fa fa-plus fa-3x" style="float:left;margin-left:15px"></i>
                            <span style="font-size:1.5em ;float:left;margin-top:5px;margin-left:12px">添加客户组</span>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_add_new_group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">新客户组</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="margin-bottom:10px;">
                        <label class="fix-width">组名</label>
                        <input name="name" class="form-control" placeholder="组名">
                    </div>
                    <div class="form-group" style="margin-bottom:10px;">
                        <label class="fix-width">编号前缀</label>
                        <input name="idPrefix" class="form-control" placeholder="编号前缀">
                    </div>
                    <div class="form-group" style="margin-bottom:10px;">
                        <label class="fix-width">发货单标题</label>
                        <input name="invoiceHeader" class="form-control" placeholder="发货单标题">
                    </div>
                    <div class="form-group" style="margin-bottom:10px;">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="adminOnly" checked>是否仅管理员可见
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="GROUP.addGroup()">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>