<div id="producibleproduct_page">
    <div id="select-group" style="margin:0;">
        <div class="row">
            <div class="col-lg-12">
                <div class="containertitle">生产类型</div>
                <button type="button" class="btn btn-primary" name="btn-newProducibleProduct">
                    <i class="fa fa-plus"></i>新添生产类型
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>生产类型</th>
                    <th>产品大类</th>
                </tr>
            </thead>
            <tbody>
                {{#producibleProducts}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{categoryName}}</td>
                </tr>
                {{/producibleProducts}}
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" name="new_producibleProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                    <h4 class="modal-title" id="myModalLabel">新添生产类型</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>生产类型</label>
                                <input name="producibleProductName" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>产品大类</label>
                                <select name="productCategory" class="selectpicker form-control">
                                    {{#productCategories}}
                                    <option value="{{id}}">{{name}}</option>
                                    {{/productCategories}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button name="submit_new_producibleProduct" type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>